<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .productImage{
            width: 250px;
            height: 300px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin: auto;
        }
        .formContent{
            width: 95vw;
            margin: auto;
            display: flex;
            margin-top: 50px;
            column-gap: 15px;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
        }
        .formLeft{
            display: flex;
            flex-direction: column;
            width: 27%;
            font-size: 24px;
            row-gap: 15px;
            text-align: end;
        }
        .formRight{
            display: flex;
            flex-direction: column;
            width: 50%;
            font-size: 24px;
            row-gap: 15px;
            justify-content: flex-start;
        }
        label{
            height: 30px;
        }
        input{
            display: block;
            height: 27px;
            font-size: 20px;
        }
        button{
            display: block;
            width: 15vw;
            height: 40px;
            border: none;
            outline: none;
            border-radius: 15px;
            background-color: brown;
            color: white;
            font-weight: bolder;
            font-size: 25px;
            margin: auto;
            margin-top: 50px;
        }
    </style>
    {{>csslinking}}
</head>
<body>

    {{>navbar}}

    <div class="productImage" style="background-image: url({{p.image_url}})"></div>

    <form action="/admin/products/update" class="productForm" method="POST">
        <div class="formContent">
            <div class="formLeft">
                <label for="name">Name</label>
                <label for="price">Price</label> 
                <label for="category">Category</label>
                <label for="description">Description</label>
                <label for="seller">Seller</label>
                <label for="image_url">Image Link</label>
            </div>
            <div class="formRight">
                <input type="text" id="name" name="name" value={{p.name}}>
                <input type="text" id="price" name="price" value={{p.price}}>
                <input type="text" id="category" name="category" value={{p.category}}>
                <input type="text" id="description" name="description" value={{p.description}}>
                <input type="text" id="seller" name="seller" value={{p.seller}}>
                <input type="text" id="image_url" name="image_url" value={{p.image_url}}> 
                <input type="hidden" id="id" name="id", value={{p._id}}>
            </div>
        </div>
        <button type="submit">Update Product</button>
    </form>

    
</body>
</html>